<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>App.ipa</key>
		<array>
			<dict>
				<key>architectures</key>
				<array>
					<string>arm64</string>
				</array>
				<key>buildNumber</key>
				<string>1</string>
				<key>certificate</key>
				<dict>
					<key>SHA1</key>
					<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
					<key>dateExpires</key>
					<string>23.12.25</string>
					<key>type</key>
					<string>Cloud Managed Apple Distribution</string>
				</dict>
				<key>embeddedBinaries</key>
				<array>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>Capacitor.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.1.2</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>CapacitorCommunityInAppReview.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.0.0</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>CapacitorCommunityKeepAwake.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>5.0.1</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>CapacitorCommunitySqlite.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.0.2</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>CapacitorDevice.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.0.1</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>CapacitorKeyboard.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.0.3</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>CapacitorPreferences.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.0.2</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>CapacitorScreenOrientation.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.0.3</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>CapacitorSplashScreen.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.0.2</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>Cordova.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>6.1.2</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>SQLCipher.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>4.6.1</string>
					</dict>
					<dict>
						<key>architectures</key>
						<array>
							<string>arm64</string>
						</array>
						<key>buildNumber</key>
						<string>1</string>
						<key>certificate</key>
						<dict>
							<key>SHA1</key>
							<string>B4CA1C9FA9EF7A8D7A05750E5BB99DAE9D2AF224</string>
							<key>dateExpires</key>
							<string>23.12.25</string>
							<key>type</key>
							<string>Cloud Managed Apple Distribution</string>
						</dict>
						<key>name</key>
						<string>ZIPFoundation.framework</string>
						<key>team</key>
						<dict>
							<key>id</key>
							<string>JK5BPT7CNP</string>
							<key>name</key>
							<string>TOBIAS JUSTINGER</string>
						</dict>
						<key>versionNumber</key>
						<string>0.9.19</string>
					</dict>
				</array>
				<key>entitlements</key>
				<dict>
					<key>application-identifier</key>
					<string>JK5BPT7CNP.com.minigenie.feedandsleep</string>
					<key>com.apple.developer.team-identifier</key>
					<string>JK5BPT7CNP</string>
					<key>get-task-allow</key>
					<false />
				</dict>
				<key>name</key>
				<string>App.app</string>
				<key>profile</key>
				<dict>
					<key>UUID</key>
					<string>eae22554-8b80-408b-951f-9a348ba8e320</string>
					<key>dateExpires</key>
					<string>23.12.25</string>
					<key>name</key>
					<string>iOS Team Ad Hoc Provisioning Profile: com.minigenie.feedandsleep</string>
				</dict>
				<key>team</key>
				<dict>
					<key>id</key>
					<string>JK5BPT7CNP</string>
					<key>name</key>
					<string>TOBIAS JUSTINGER</string>
				</dict>
				<key>versionNumber</key>
				<string>1.0</string>
			</dict>
		</array>
	</dict>
</plist>