.nextButtonIndicator {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: grid;
  color: var(--mantine-color-background-3);
  box-shadow: inset 0px 0px 0px 4px var(--mantine-color-background-2);
  border-radius: 50%;
}

.nextButtonIndicator p {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%);
}
