.monoFont {
  font-family: "JetBrains Mono Variable", monospace;
}

.blinking {
  animation: blink 2s infinite;
  animation-timing-function: ease-in-out;
}

.noWrap {
  text-wrap: nowrap;
}

@keyframes blink {
  0% {
    opacity: 1;
  } /* fully visible */
  50% {
    opacity: 0;
  } /* hidden */
  100% {
    opacity: 1;
  } /* fully visible */
}
