.boobButtonIndicator {
  height: 30vw;
  width: 30vw;
  max-width: 8rem;
  max-height: 8rem;
  position: absolute;
  left: -1px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 5px var(--mantine-color-accent-5);
}
