header > nav {
  padding: 32px 2rem;
}

header > nav > ul {
  margin: 0px;
  padding: 0px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 48px;
}

header > nav > ul > li {
  display: block;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: var(--primary-color);
}

header > nav > ul > li > a:visited {
  color: var(--primary-color);
}

.Divider-vertical {
  border-right: 1px solid var(--primary-color);
  height: 24px;
  width: 1px;
}

.LinkedInLink {
  display: flex;
}
.LinkedInLink > svg {
  width: 24px;
  height: 24px;
}
